.subtitle:hover {
  /* color:#8c12d3; */
  -webkit-animation-name: shake;    
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transform-origin: 50% 100%;
}

.titleDiv{
  display: flex;
}

.title {
  /* margin-bottom: 50px; */
  
  /* line-height: 1.15; */
  font-size:2rem;
  color: #fe980f;
  text-decoration: none;
  /* text-align: center; */
  /* background: none repeat scroll 0 0 #fe980f; */
  padding: 5px 7px;
  border-radius: 20%;
  border: 2px solid;
  border-color: #fe980f;
  
  margin: auto;
  margin-top: 60px;
  
}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

.animated.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.card {
  margin: auto;
  padding: 0.3rem;
  border: 2px solid #fe980f;
  /* background-color: #fe980f; */
  border-radius: 10%;
  justify-content:center ;
  color: #fe980f; 
  text-decoration: none;
  margin-top: 13px;
}

.card:hover {
  color: black;
  background-color: #fe980f ;
  -webkit-animation-name: shake;    
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transform-origin: 50% 100%;
}

@-webkit-keyframes shake {
  0%  { -webkit-transform:     translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform:     translate(-1px, -2px) rotate(-2deg); }
  20% { -webkit-transform:     translate(-3px, 0px) rotate(3deg); }
  30% { -webkit-transform:     translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform:     translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform:     translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform:     translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform:     translate(2px, 1px) rotate(-2deg); }
  80% { -webkit-transform:     translate(-1px, -1px) rotate(4deg); }
  90% { -webkit-transform:     translate(2px, 2px) rotate(0deg); }
  100%{ -webkit-transform:     translate(1px, -2px) rotate(-1deg); }
 }

.card h4{
  margin: 0 0 0 0;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.logos{
  display: flex;
  justify-content: center;
  font-size:30px;
  color: #fe980f;
  justify-content: space-evenly;
}

.linkedin, .cv, .github,.email{
  border: #fe980f 2px solid;
  border-radius: 20%;
}

.linkedin:hover {
  color: black;
  background-color: #fe980f ;
  -webkit-animation-name: shake;    
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transform-origin: 50% 100%;
}
.github:hover{
  color: black;
  background-color: #fe980f ;
  -webkit-animation-name: shake;    
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transform-origin: 50% 100%;
}
.cv:hover {
  color: black;
  background-color: #fe980f ;
  -webkit-animation-name: shake;    
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transform-origin: 50% 100%;

}

.email:hover{
 color: black;
  background-color: #fe980f ;
  -webkit-animation-name: shake;    
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transform-origin: 50% 100%;
}

.infos{
  display: flex;
  justify-content: center;
  /* margin-top: 100px; */
}
.img{
  border-radius: 10%; 
}

.description{
  /* display: flex; */
  justify-content: center;
  float: right;
  text-align: center;
  width: 300px;
  margin-left: 10px;
  /* border: 3px solid aliceblue; */
}

.subtitle{
  animation: 2s ease 0s normal none bounce;
  animation-duration: 1.3s;
  animation-iteration-count: 3;
  justify-content: center;
  border-radius: 30%;
  margin: auto;
  margin-top: 25px;
  color: #fe980f;
  margin-bottom:5px;

}

.text{
  /* display: flex; */
  color: #fe980f;
  /* border: 3px solid #fe980f; */
  border-radius: 5%;
  margin-top: 0;
  margin-bottom: 0;
}

.picSection{
  margin-top:25px;
  justify-content: center;
 
}

.showDesc{
  display: none;
  font-size: 20px;

}

.showme:hover .showDesc{
  display: block;
}

.showme{
  display: flex;
  flex-direction: column;
  align-items: center;

  
}