.container {
 /* display: flex;
 flex-direction: column; */
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.title:hover {
  text-decoration:wavy;
  color:#8c12d3;
}

.title {
  margin-bottom: 50px;
  line-height: 1.15;
  font-size:3rem;
  color: #0f34db;
  text-decoration: none;
}

.title,
.description {
  text-align: center;
}


.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.card {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 5px solid #0f34db;
  border-radius: 10px;
  justify-content:center ;
}

.card:hover,
.card:focus,
.card:active {
  color: #8c12d3;
  border-color:#8c12d3;
  text-decoration: underline;
}

.card h4{
  margin: 0 0 0 0;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.logos{
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.linkedin:hover {
  color: #8c12d3;
}
.github:hover{
  color: #8c12d3;
}
.infos{
  display: flex;
  justify-content: center;
}
.img{
  float: left;
  border-radius: 99%;
}
.description{
  float: right;
  padding-left: 50px
}