/* .main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; */
  /* align-items: center; */
/* } */

.title:hover {
  color:#8c12d3;
}

.title {
  /* margin-bottom: 50px; */
  line-height: 1.15;
  font-size:2rem;
  color: #0f34db;
  text-decoration: none;
  text-align: center;
  animation: 2s ease 0s normal none bounce;
  background: none repeat scroll 0 0 #fe980f;
  bottom: 0;
  padding: 5px 10px;
  right: 10p;
  border-radius: 50px;
  animation-duration: 1.3s;
  animation-iteration-count: 3;
}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

.animated.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.card {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 2px solid #0f34db;
  background-color: #fe980f;
  border-radius: 10px;
  justify-content:center ;
  color: #0f34db; 
  text-decoration: none;
}

.card:hover {
  color: #8c12d3;
  border-color:#8c12d3;
  -webkit-animation-name: shake;    
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transform-origin: 50% 100%;
}

@-webkit-keyframes shake {
  0%  { -webkit-transform:     translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform:     translate(-1px, -2px) rotate(-2deg); }
  20% { -webkit-transform:     translate(-3px, 0px) rotate(3deg); }
  30% { -webkit-transform:     translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform:     translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform:     translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform:     translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform:     translate(2px, 1px) rotate(-2deg); }
  80% { -webkit-transform:     translate(-1px, -1px) rotate(4deg); }
  90% { -webkit-transform:     translate(2px, 2px) rotate(0deg); }
  100%{ -webkit-transform:     translate(1px, -2px) rotate(-1deg); }
 }

.card h4{
  margin: 0 0 0 0;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.logos{
  display: flex;
  justify-content: center;
  font-size:30px;
}

.linkedin:hover {
  color: #8c12d3;
  -webkit-animation-name: shake;    
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transform-origin: 50% 100%;
}
.github:hover{
  color: #8c12d3;
  -webkit-animation-name: shake;    
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transform-origin: 50% 100%;
}
.cv:hover{
  color: #8c12d3;
  -webkit-animation-name: shake;    
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transform-origin: 50% 100%;

}

.infos{
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.img{
  float: left;
  border-radius: 99%;
}

.description{
  float: right;
  padding-left: 50px;
  text-align: center;
  width: 300px;
}